In [1]:
#single line comment

In [2]:
'''
docstring or
multiline
'''

'\ndocstring or\nmultiline\n'

In [3]:
x=1  #int
y=2.5  #float
name='kiah'  #string, single/double quotes
is_cool= True #boolean, first letter should be capital

In [4]:
#multiple assignment
x,y,name,is_cool=(1,2.5,'kiah',True)

In [5]:
print('Hello',x,y,name,is_cool)

Hello 1 2.5 kiah True

In [6]:
a=x+y
print (a)

3.5

In [7]:
print(type(x))
x=str(x)
print(type(x))

<class 'int'>
<class 'str'>

In [8]:
y=int(y)
print(type(y),y)
z=float(y)
print(z)

<class 'int'> 2
2.0

In [9]:
#STRINGS

In [10]:
name='kiah'
age=19

#concatenate
print('Hello, my name is '+name+' and i am '+str(age))
#arguments by position
print('Hello my name is {name} and i am {age}'.format(name=name,age=age))

Hello, my name is kiah and i am 19
Hello my name is kiah and i am 19

In [11]:
#f strings
print(f'hello my name is {name} and i am {age}')

hello my name is kiah and i am 19

In [12]:
s='hello World'

print(s.capitalize())
print(s.upper())
print(s.lower())
print(s.swapcase())
print(len(s))
print(s.replace('World','everyone'))
print(s.count('l'))
print(s.startswith('he'))
print(s.endswith('e'))
print(s.split())
print(s.find('W'))
print(s.isalpha())
print(s.isnumeric())
a='fj3uiy8'
print(a.isalnum())
b='helloworld'
print(b.isalpha())

Hello world
HELLO WORLD
hello world
HELLO wORLD
11
hello everyone
3
True
False
['hello', 'World']
6
False
False
True
True

In [13]:
#LISTS
#collection which is ordered and changeable

In [14]:
numbers=[1,2,3,4,5]
numbers2=list((1,2,3))    #constructors
print(numbers,numbers2)

[1, 2, 3, 4, 5] [1, 2, 3]

In [15]:
fruits=['Apples','Grapes','pears','oranges']

print(fruits[1])
print(len(fruits))
fruits.append('Mango')
print(fruits)
fruits.remove('pears')
print(fruits)
fruits.insert(3,'Strawberry')
print(fruits)
fruits.pop(1)
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)
fruits[0]='Blueberries'
print(fruits)

Grapes
4
['Apples', 'Grapes', 'pears', 'oranges', 'Mango']
['Apples', 'Grapes', 'oranges', 'Mango']
['Apples', 'Grapes', 'oranges', 'Strawberry', 'Mango']
['Apples', 'oranges', 'Strawberry', 'Mango']
['Mango', 'Strawberry', 'oranges', 'Apples']
['Apples', 'Mango', 'Strawberry', 'oranges']
['oranges', 'Strawberry', 'Mango', 'Apples']
['Blueberries', 'Strawberry', 'Mango', 'Apples']

In [16]:
#TUPLES-ordered and unchangeable

In [17]:
fruits=('Apples','Grapes','pears','oranges')
fruits2=tuple(('Apples','Grapes','pears','oranges'))
print(fruits,fruits2)
print(len(fruits))

('Apples', 'Grapes', 'pears', 'oranges') ('Apples', 'Grapes', 'pears', 'oranges')
4

In [18]:
fruits=('Apples',)
print(fruits, type(fruits))

('Apples',) <class 'tuple'>

In [19]:
fruits=('Apples','Grapes')
fruits[0]='pears'

TypeError: 'tuple' object does not support item assignment

In [20]:
del fruits2
print(fruits2)

NameError: name 'fruits2' is not defined

In [ ]:
#SET-unordered and unindexed, no duplicate members

In [21]:
colours={'Blue','Red','Yellow'}
print(colours)
print('Blue' in colours)
colours.add('Black')
print(colours)
colours.add('Black') #doesnt add twice
print(colours)
colours.remove('Red')
print(colours)
colours.clear()
print(colours)
del colours
print(colours)

{'Blue', 'Red', 'Yellow'}
True
{'Blue', 'Red', 'Black', 'Yellow'}
{'Blue', 'Red', 'Black', 'Yellow'}
{'Blue', 'Black', 'Yellow'}
set()

NameError: name 'colours' is not defined

In [ ]:
#DICTIONARIES-unordered,changeable,indexed,no duplicate

In [22]:
person={
    'first_name':'Kiah',
    'last_name':'Monpara',
    'age':19
}

print(person,type(person))

{'first_name': 'Kiah', 'last_name': 'Monpara', 'age': 19} <class 'dict'>

In [ ]:
#person2=dict(first_name='Kiah',last_name='Monpara',age=19)
#print(person2,type(person2))

In [23]:
print(person['age'])
print(person.get('age'))
person['phone']='12345678'
print(person)
print(person.keys())
print(person.items())

19
19
{'first_name': 'Kiah', 'last_name': 'Monpara', 'age': 19, 'phone': '12345678'}
dict_keys(['first_name', 'last_name', 'age', 'phone'])
dict_items([('first_name', 'Kiah'), ('last_name', 'Monpara'), ('age', 19), ('phone', '12345678')])

In [24]:
person2=person.copy()
person2['city']='mumbai'
print(person2)

{'first_name': 'Kiah', 'last_name': 'Monpara', 'age': 19, 'phone': '12345678', 'city': 'mumbai'}

In [25]:
del(person['age'])
person.pop('phone')
print(person)

{'first_name': 'Kiah', 'last_name': 'Monpara'}

In [26]:
person.clear()
print(len(person2))

5

In [28]:
#List of dict

people=[
    {'name':'Kiah','age':19},
    {'name':'advzsv','age':18}
]
print(people)

[{'name': 'Kiah', 'age': 19}, {'name': 'advzsv', 'age': 18}]

In [29]:
print(people[0]['name'])

Kiah